<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-test" version="0.0.1">
    <name>Test</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <platform name="android">
    <config-file target="config.xml" parent="/*">
        <config-test url="www.baidu.com"></config-test>
    </config-file>

    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
        </config-file>
    </platform>
</plugin>
